* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 清除移动端点击高亮 */
    -webkit-tap-highlight-color: transparent;
}

ol,
ul {
    list-style: none;
}

textarea,
input {
    outline: none;
    border: 0;
    -webkit-appearance: none;
}


/* 清除浮动 */

.clearfix:before {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}