.page {
    min-width: 320px;
    max-width: 450px;
    height: 100vh;
    margin: 0 auto;
    background-image: url('../../img/qback.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    padding: 90px 30px 60px;
}

.sign_in {
    height: 100%;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

i {
    width: 80%;
    padding-bottom: 10px;
    color: white;
    font-size: 25px;
    border-bottom: 1px solid #c4c6cd73;
}

form {
    height: 100%;
    padding: 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.in {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;
    border-bottom: 1px solid #c4c6cd73;
}

.before {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #caccd8;
}

.circle {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    background: #427BFF;
    border-radius: 25px;
}

.circle2 {
    background: #90F6F5;
}

.circle3 {
    background: #FF3F31;
}

input, select {
    width: 58%;
    background: none;
    color: white;
    line-height: 30px;
    border: none;
}

option {
    color: black;
}

.introduce {
    height: 30px;
    overflow: scroll;
    background: none;
    color: white;
}

.operBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.oper {
    background: none;
    border: 0;
    color: #3b3bf1;
    font-size: 17px;
    text-align: left;
}

.oper-r {
    text-align: right;
}

/* .sign_in input,
select {
    width: 50%;
    height: 30px;
    color: #000;
    background-color: #f5f5f5;
    font-family: "微软雅黑";
}

option {
    color: black;
    background: #A6E1EC;
    line-height: 20px;
}

select {
    margin-top: 6px;
    border-radius: 8px;
}

select:focus {
    border: 0px #ddd solid;
    box-shadow: 0 0 15px 1px #DDDDDD;
}

option:hover {
    background: #EBCCD1;
}

hr {
    margin-top: 8px;
}

textarea {
    width: 100%;
    background-color: #f5f5f5;
}

span {
    margin-left: 10px;
}

input.button {
    width: 100px;
    color: #000;
    font-size: 15px;
    background-color: #9fa8a0;
    position: absolute;
    bottom: 5%;
    /* margin-top: 7%; */

/*}

.button1 {
    left: 17%;
}

.button2 {
    right: 17%;
} */