a {
    text-decoration: none;
}

.page {
    min-width: 320px;
    max-width: 450px;
    height: 100vh;
    margin: 0 auto;
    background-image: url('../../img/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.content{
    width: 90%;
    height: 90%;
    background-image: url('../../img/transback.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    display: flex;
    flex-direction: column;
}

.msg{
    width: 100%;
    height: 73%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.msg img{
    width: 80%;
    margin-top: 10px;
}

.msg h1{
    font-size: 60px;
    color: white;
}

.msg p{
    font-size: 14px;
    color: white;
    margin-top: 10px;
    letter-spacing: 5px;
}

.btn{
    width: 100%;
    height: 27%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn p{
    font-size: 10px;
    color: #9A888B;
    letter-spacing: 5px;
}

.to_do{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
}

.test,.sign-in{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.test i,.sign-in i{
    font-size: 30px;
    text-decoration: none;
    color: #9A888B;
}

.test p,.sign-in p{
    font-size: 20px;
    text-decoration: none;
    color: #9A888B;
    letter-spacing: 20px;
    margin-left: 30px;
}


.header {
    width: 100%;
    height: 3%;
    font-size: 3px;
    text-align: center;
}

.container {
    width: 100%;
    height: 72%;
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.choose {
    width: 100%;
    height: 25%;
    text-align: center;
    padding-top: 20px;
}

.choose button {
    width: 200px;
    height: 35px;
    border-radius: 4px;
    border: 0;
    margin-top: 15px;
}

.el-button+.el-button {
    margin-left: 0;
}

.choose button:hover {
    background-color: #1fa104;
}