* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 清除移动端点击高亮 */
    -webkit-tap-highlight-color: transparent;
}

.page {
    min-width: 320px;
    max-width: 450px;
    height: 100vh;
    margin: 0 auto;
    background-image: url('../../img/qback.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    padding: 90px 30px 60px;
}

.question {
    width: 85%;
    height: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.q{
    color: red;
    font-size: 50px;
}

.ques{
    color: white;
    font-size: 20px;
    margin-left: 20px;
}

form {
    /* margin-left: 3%; */
    width: 85%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.choose{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

button{
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 20px;
    line-height: 30px;
    background: #fff2f247;
    border-radius: 10px;
    text-align: left;
    
}
label {
    margin-left: 2%;
    font-size: 18px;
    color: white;
}

.operBar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.oper{
    background: none;
    border: 0;
    color: #3b3bf1;
    font-size: 17px;
}
/* input.button {
    width: 100px;
    color: rgb(25, 137, 250);
    font-size: 15px;
    background-color: rgb(230, 241, 252);
    position: absolute;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-top: 7%;
    border: 1px rgb(25, 137, 250) solid;
}

.button1 {
    left: 17%;
}

.button2 {
    right: 17%;
} */