* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 清除移动端点击高亮 */
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #f5f5f5;
}

.page {
    min-width: 320px;
    max-width: 450px;
    /* text-align: center; */
    margin: 0 auto;
    position: relative;
}

p {
    padding-left: 1%;
}

.question {
    border: 1px #838181 solid;
    color: #2e2d2d;
    margin-top: 10%;
    margin-bottom: 5%;
}

form {
    margin-left: 3%;
}

label {
    margin-left: 2%;
}

input.button {
    width: 100px;
    color: rgb(25, 137, 250);
    font-size: 15px;
    background-color: rgb(230, 241, 252);
    position: absolute;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    margin-top: 7%;
    border: 1px rgb(25, 137, 250) solid;
}

.button1 {
    left: 17%;
}

.button2 {
    right: 17%;
}